head {
	font-family: 'Antic';
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline;
}

body {
	background-image: url("bg.png");
	background-repeat: repeat;
}

p {
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 35px;
}

.landing {
	height: 100vh;
	position: relative;
}

.subtitles {
	color: black;
	font-size: 30px;
	margin-bottom: 30px;
}

#profilebubble {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	right: 0;
	left: 0;
	top: 15%;
	background: #dadada;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#pp {
	position: absolute;
	width: 180px;
	height: 180px;
	margin-right: auto;
	margin-left: auto;	
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: gray;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#profilepic {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	color:white;
	text-align: center;
	font-size: 30pt;
	margin-right: auto;
	margin-left: auto;	
	right: 0;
	left: 0;
	top: 45%;
}

#desc1 {
	font-size: 20pt;
	margin-top: 20px;
}
#desc2 {
	margin-top: -20px;
	font-size: 15pt;
	color: #cdd6d6;
}

#linkedin, #github {
	width: 40px;
	height: 40px;
}
#linkedin {
	margin-right: 50px;
}

#tabs_container {
	display: table;
	position: fixed;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 50px;
}
#tabs_left, #tabs_middle1, #tabs_middle2, #tabs_middle3, #tabs_middle4, #tabs_right, #tabs_right1, #tabs_right2 {
	display: table-cell;
}
#tabs_middle1, #tabs_middle2, #tabs_middle3, #tabs_middle4 {
	vertical-align: middle;
	min-width: 120px;
	max-width: 120px;
	width: 120px;
}
#tabs_right1, #tabs_right2{
	vertical-align: middle;
	max-width: 80px;
	width: 80px;
}
#tabs_left {
	min-width: 20px;
	max-width: 20px;
	width: 20px;
}	
#tabs_right {
	min-width: 60px;
}

#tabs_background{
	position: fixed;
	bottom: 0px;
	width:100%;
	height: 50px;
	background: #233c41;
	z-index: 1;
}
#tabs1, #tabs2, #tabs3, #tabs4 {
	width: 100px;
	height: 40px;
	margin: auto;
	background: grey;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#tabsa, #tabsb {
	margin: auto;
}

#p_containerA, #p_containerB, #p_containerC, #p_containerD {
	position: relative;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#p_middleA, #p_middleB, #p_middleC, #p_middleD {
	padding: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#p_middleA {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 500px;
	background: #e3eaea;
}
#p_middleB {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 500px;
	background: #d2e0e0;
}
#p_middleC {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 310px;
	background: #bed1d1;
}
#p_middleD {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
	width: 900px;
	height: 230px;
	background: #acc4c4;
}

.background1 {
	background-image: url("bgl.png");
	height: 110vh;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
	margin-bottom: -110vh;
	background-attachment: fixed;
}
