.landing {
	color:black;
	text-align: center;
	margin-top: 320px;
	margin-bottom: 130px;
	font-size: 30pt;
}

head {
	font-family: 'Antic';
}

body {
	background-image: url("bg.png");
	background-repeat: repeat;
}

p {
	margin-top: -500px;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 35px;
}

.subtitles {
	color: gray;
	font-size: 40px;
}

#p_containerA {
	position: relative;
	z-index: 3;
	margin-top: -930px;
	display: table;
	width: 100%;
}
#p_leftA, #p_middleA, #p_rightA {
	display: table-cell;
}
#p_middleA {
	width: 900px;
}

#p_containerB {
	opacity: 0;
	position: relative;
	z-index: 3;
	margin-top: -125px;
	display: table;
	width: 100%;
}
#p_leftB, #p_middleB, #p_rightB {
	display: table-cell;
}
#p_middleB {
	width: 900px;
}

#p_containerC {
	opacity: 0;
	position: relative;
	z-index: 3;
	margin-top: -75px;
	display: table;
	width: 100%;
}
#p_leftC, #p_middleC, #p_rightC {
	display: table-cell;
}
#p_middleC {
	width: 900px;
}

#p_containerD {
	opacity: 0;
	position: relative;
	z-index: 3;
	margin-top: -74px;
	display: table;
	width: 100%;
}
#p_leftD, #p_middleD, #p_rightD {
	display: table-cell;
}
#p_middleD {
	width: 900px;
}

#pp {
	width: 180px;
	height: 180px;
	margin-top: 110px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -300px;
	background: gray;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#profilepic {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

#desc1 {
	font-size: 20pt;
}

#desc2 {
	margin-top: -10px;
	margin-bottom: 20px;
	font-size: 16pt;
}

#profilebubble {
	width: 200px;
	height: 200px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -300px;
	background: gray;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#tabs_container {
	display: table;
	position: relative;
	z-index: 2;
	margin-bottom: -110px;
	width: 100%;
}
#tabs_left, #tabs_middle1, #tabs_middle2, #tabs_middle3, #tabs_middle4, #tabs_right {
	display: table-cell;
}
#tabs_middle1, #tabs_middle2, #tabs_middle3, #tabs_middle4 {
	min-width: 220px;
	max-width: 220px;
	width: 220px;
}
#tabs_left, #tabs_right {
	min-width: 60px;
}

#selector_container {
	display: table;
	position: relative;
	z-index: 2;
	margin-bottom: -140px;
	width: 100%;
}
#selector_left, #selector_middle1, #selector_middle2, #selector_middle3, #selector_middle4, #selector_right {
	display: table-cell;
}
#selector_middle1, #selector_middle2, #selector_middle3, #selector_middle4 {
	min-width: 220px;
	max-width: 220px;
	width: 220px;
}
#selector_left, #selector_right {
	min-width: 60px;
}

#tabsB_container {
	display: table;
	position: relative;
	z-index: 1;
	margin-bottom: -60px;
	width: 100%;
}
#tabsB_left, #tabsB_middle1, #tabsB_middle2, #tabsB_middle3, #tabsB_middle4, #tabsB_right {
	display: table-cell;
}
#tabsB_middle1, #tabsB_middle2, #tabsB_middle3, #tabsB_middle4 {
	min-width: 220px;
	max-width: 220px;
	width: 220px;
}
#tabsB_left, #tabsB_right {
	min-width: 60px;
}

#foreground_container {
	position: relative;
	z-index: 2;
	margin-top: -930px;
	display: table;
	width: 100%;
}
#foreground_left, #foreground_middle, #foreground_right {
	display: table-cell;
}
#foreground_middle {
	width: 1000px;
}

#background_container {
	display: table;
	width: 100%;
}
#background_left, #background_middle, #background_right {
	display: table-cell;
}
#background_middle {
	width: 1000px;
}

#background_container2 {
	display: table;
	width: 100%;
}
#background_left2, #background_middle2, #background_right2 {
	display: table-cell;
}
#background_middle2 {
	width: 1000px;
}

#tabs1, #tabs2, #tabs3, #tabs4 {
	width: 100px;
	height: 100px;
	margin: auto;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#selector1{
	width: 100px;
	height: 90px;
	margin: auto;
	background: white;
}
#selector2{
	width: 100px;
	height: 90px;
	margin: auto;
	opacity: 0;
	background: white;
}
#selector3{
	width: 100px;
	height: 90px;
	margin: auto;
	opacity: 0;
	background: white;
}
#selector4{
	width: 100px;
	height: 90px;
	margin: auto;
	opacity: 0;
	background: white;
}
#tabsB {
	width: 120px;
	height: 120px;
	margin: auto;
	background: gray;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}
#foregroundbubble {
   width: 980px;
   height: 920px;
   margin-left: 10px;
   margin-right: 10px;
   background: white;
   position: relative;
   -moz-border-radius:    50px;
   -webkit-border-radius: 50px;
   border-radius:         50px;
}
#backgroundbubble {
   width: 1000px;
   height: 1000px;
   margin: auto;
   background: gray;
   position: relative;
   -moz-border-radius:    50px;
   -webkit-border-radius: 50px;
   border-radius:         50px;
}
#backgroundbubble2 {
   width: 1000px;
   height: 150px;
   margin: auto;
   margin-top: -100px;
   background: gray;
   position: relative;
}
