head {
	font-family: 'Antic';
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline;
}

body {
	background-image: url("background.png");
	background-repeat: repeat;
}

p {
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	line-height: 35px;
}

.page-wrapper {
	min-width: 800px;
}

.landing {
	height: 100vh;
	min-height: 800px;
	position: relative;
}

.subtitles {
	color: black;
	font-size: 30px;
	margin-bottom: 30px;
}

.paragraph {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#profilebubble {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	right: 0;
	left: 0;
	top: 15%;
	background: #dadada;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#pp {
	position: absolute;
	width: 180px;
	height: 180px;
	margin-right: auto;
	margin-left: auto;	
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background: gray;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#profilepic {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

#info {
	position: absolute;
	color:white;
	text-align: center;
	font-size: 30pt;
	margin-right: auto;
	margin-left: auto;	
	right: 0;
	left: 0;
	top: 45%;
}

#desc1 {
	font-size: 20pt;
	margin-top: 20px;
}
#desc2 {
	margin-top: -20px;
	font-size: 15pt;
	color: #cdd6d6;
}

#linkedin, #github {
	width: 40px;
	height: 40px;
}
#linkedin {
	margin-right: 50px;
}

#tabs_container {
	display: table;
	position: fixed;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	height: 50px;
}
#tabs_left, #tabs_middle1, #tabs_middle2, #tabs_middle3, #tabs_middle4, #tabs_right, #tabs_right1, #tabs_right2 {
	display: table-cell;
}
#tabs_middle1, #tabs_middle2, #tabs_middle3, #tabs_middle4 {
	vertical-align: middle;
	min-width: 120px;
	max-width: 120px;
	width: 120px;

}
#tabs_right1, #tabs_right2{
	vertical-align: middle;
	max-width: 80px;
	width: 80px;
}
#tabs_left {
	min-width: 20px;
	max-width: 20px;
	width: 20px;
}	
#tabs_right {
	min-width: 60px;
}

#tabs_background{
	position: fixed;
	bottom: 0px;
	width:100%;
	height: 50px;
	background: #233c41;
	z-index: 1;
}

#tabsa, #tabsb {
	margin: auto;
}

.p_container {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 92%;
	min-width: 1000px;
	height: 500px;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#p_textwrapper {
	padding: 40px;
	overflow: hidden;
}

.background1 {
	background-image: url("bgl.jpg");
	height: 110vh;
	width: 100%;
	background-size: cover;
	background-position: center bottom;
	margin-bottom: -110vh;
	background-attachment: fixed;
}

#tabSelector1, #tabSelector2, #tabSelector3, #tabSelector4 {
	width: 100px;
	height: 40px;
	background: #adcece;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	opacity: 0.5;
}

#tabSelector1:hover, #tabSelector2:hover, #tabSelector3:hover, #tabSelector4:hover {
	opacity: 1;
}

.tabLabels {
	font-size: 18px;
	text-align: center;
	margin: auto;
	color: black;
}

.w3-button {
	position:absolute; 
	height:350px; 
	width:30px; 
	background-color: #e7e7e7; 
	color: black; 
	opacity: 0.6;
	border: none;
}

.w3-button:hover {
	opacity: 0.8;
}

.w3-display-right {
	right: 40px;
	top: 113px;
}
